@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-vermilion-50: #fff4ed;
  --color-vermilion-100: #ffe6d4;
  --color-vermilion-200: #ffc8a8;
  --color-vermilion-300: #ffa270;
  --color-vermilion-400: #ff6f37;
  --color-vermilion-500: #ff5722;
  --color-vermilion-600: #f02e06;
  --color-vermilion-700: #c71e07;
  --color-vermilion-800: #9e1a0e;
  --color-vermilion-900: #7f190f;
  --color-vermilion-950: #450805;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  color: black;
  background-color: var(--color-vermilion-50);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
