@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-vermilion-50: #fff4ed;
  --color-vermilion-100: #ffe6d4;
  --color-vermilion-200: #ffc8a8;
  --color-vermilion-300: #ffa270;
  --color-vermilion-400: #ff6f37;
  --color-vermilion-500: #ff5722;
  --color-vermilion-600: #f02e06;
  --color-vermilion-700: #c71e07;
  --color-vermilion-800: #9e1a0e;
  --color-vermilion-900: #7f190f;
  --color-vermilion-950: #450805;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
